.button {
  @include a-reset;
  display: block;
  width: 280px;
  height: 40px;
  padding: 10px;
  background-color: $green;
  border: none;

  font-size: $small;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;
  text-align: center;

  &--secondary {
    color: $form-darkgrey1;
    background-color: $lightgrey;
  }

  &--form {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    @media (min-width: $tablet-width) {
      width: 100%;
      height: 52px;
      padding: 14px;
      font-size: 20px;
    }
  }

  &--choose-program {
    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--other-products {
    @media (min-width: $tablet-width) {
      width: 100%;
      grid-column: 1/-1;
    }

    @media (min-width: $desktop-width) {
      grid-column: 3/4;
    }
  }

  &--small {
    @media (min-width: $desktop-width) {
      width: 168px;
    }
  }
}
