.compare {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin: 0 -30px;
    background-image: linear-gradient($white 0, $white 180px, $lightgrey 180px, $lightgrey 100%);
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 35px;
    margin: 0;
    background-image: linear-gradient($white 170px, $lightgrey 170px);
    overflow: visible;
  }
}

.compare__pictures {
  @include ul-reset;
  position: relative;
  margin: 0 -20px;
  width: 320px;
  height: 240px;

  @media (min-width: $tablet-width) {
    margin: 10px 0 0;
    width: 680px;
    height: 517px;
  }

  @media (min-width: $desktop-width) {
    margin: -20px -5px 0 0;
    width: 642px;
  }
}

.compare__image {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  transition: width 0.4s ease-out;

  &--before {
    img {
      display: block;
      width: 312px;
      height: 233px;
    }
  }

  &--after {
    display: flex;
    justify-content: flex-end;
    width: 0;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 50%;

    &--after {
      align-items: flex-end;
      box-shadow: 400px 570px 0 400px $darkgrey;
      background-image: linear-gradient($white 0, $white 170px, $darkgrey 170px, $darkgrey 100%);

      img {
        width: 500px;
        z-index: 1;
      }
    }

    img {
      width: 650px;
      height: 517px;
    }
  }

  @media (min-width: $desktop-width) {
    &--before {
      width: 750px;
      left: -37px;
      padding-right: 27px;
      overflow: visible;
    }

    &--after {
      box-shadow: 400px 590px 0 400px $darkgrey;
      background-image: linear-gradient($white 0, $white 190px, $darkgrey 190px, $darkgrey 100%);

      img {
        width: 586px;
        padding-right: 56px;
      }
    }
  }
}

.compare__before:focus ~ .slider__label--before {
  border: 1px dotted $darkgrey2;
  color: $green;
}

.compare__after:focus ~ .slider__label--after {
  border: 1px dotted $darkgrey2;
  color: $green;
}
