.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  @include a-reset;
  font-family: $text-font;
  font-size: 16px;
  line-height: 18px;
  color: $form-darkgrey1;

  @media (min-width: $tablet-width) {
    margin-right: 22px;;
  }
}

.copyright__icon {
  fill: #666666;

  &:hover {
    fill: $green;
  }
}
