.example {
  @include container;
  background-color: $darkgrey;
  padding-bottom: 25px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  padding: 27px 0 33px 0;
  margin: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__description {
  @include text-style;
  font-family: $text-font;
  font-size: $small;
  line-height: 18px;
}

.example__cost {
  @include text-style;
  font-size: $small;
  line-height: 20px;
  text-transform: uppercase;
}

.example__stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    width: 366px;
  }
}
