.example {
  width: 100%;
  background-color: $darkgrey;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, $darkgrey 50%, $white 50%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to top, $darkgrey 85%, $white 15%);
  }
}

.example__wrap {
  @include container;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  padding: 0 0 33px 0;
  margin: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    padding: 0 0 63px 0;

    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 76px 0;
  }
}

.example__description {
  @include text-reset;
  font-family: $text-font;
  font-size: $small;
  line-height: 18px;

  padding: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 54px 0;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0 69px 0;
  }
}

.example__cost {
  @include text-reset;
  margin: 0 auto;

  font-size: $small;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin: 0;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    width: 100%;

    text-align: left;
  }
}

.example__image {
  display: block;
  width: 100%;
  padding-bottom: 23px;
}

.example__stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    width: 366px;
  }
}
