.features {
  @include container;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
    border-bottom: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 11px;
    border-bottom: none;
  }
}

.features__title {
  padding-bottom: 38px;
  margin: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 32px;

    font-size: 60px;
    line-height: 1;
  }
}

.features__list {
  @include ul-reset;
  margin: 0;
  padding: 0;

  counter-reset: counter;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 62px;
    row-gap: 16px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.features__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 60px 60px;

  counter-increment: counter;

  &::before {
    content: "";
    position: static;
    display: block;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    flex-shrink: 0;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: block;
    min-height: 280px;
    width: 245px;
    padding-top: 40px;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 30px;
      background-size: 80px 80px;
    }

    &::after {
      content: counter(counter);
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 280px;
      line-height: 1;
      color: $lightgrey;
      z-index: -1;
    }
  }


  &--compound {
    &::before {
      background-image: url("../img/compound.svg");
    }
  }

  &--form {
    &::before {
      background-image: url("../img/form.svg");
    }
  }

  &--nutrition {
    &::before {
      background-image: url("../img/nutrition.svg");
    }
  }

  &--time {
    &::before {
      background-image: url("../img/time.svg");
    }
  }
}

.features__description {
  // padding-left: 80px;
  margin: 0;

  vertical-align: middle;
  font-family: $text-font;
  font-size: $small;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    // padding: 151px 20px 57px 0;
    font-size: 16px;
    line-height: 24px;
  }
}
