.form__field {
  padding-bottom: 13px;
}

.form__title {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
}

.form__label,
.form__input {
  font-size: 16px;
  line-height: 18px;
  color: $form-darkgrey1;
  text-transform: uppercase;

  &--radio {
    color: $form-darkgrey2;
  }

  &--checkbox {
    color: $black;
  }
}

.form__textarea {
  width: 100%;
}

.form__legend {
  @include text-reset;
}

.form__radio {
  @media (min-width: $tablet-width) {
    width: 628px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__contacts-wrap {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__checkbox-wrap {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__button {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-bottom: 72px;
  }
}
