.main-catalog {
  @include container;
}

.main-catalog__wrap {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 59px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.main-catalog__item {
  @media (min-width: $tablet-width) {
    min-height: 511px;

    background-color: $lightgrey;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
