.main-nav__list {
  @include ul-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.main-nav__item {
  text-align: center;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    margin-left: 36px;
    border: none;
  }
}

.main-nav__link {
  @include a-reset;
  position: relative;
  display: block;
  padding: 22px 0 24px 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

    &--active {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -10px;
        left: 0;
        border-bottom: 2px solid $green;
      }
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--index {
    @media (min-width: $desktop-width) {
    color: $white;

      &--active {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          bottom: -8px;
          left: 0;
          border-bottom: 2px solid $white;
        }
      }
    }
  }
}
