.map {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.map__box {
  @media (min-width: $desktop-width) {
    @include container;
    position: relative;
  }
}

.map__box-adress {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding-top: 29px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding: 67px 72px 58px 72px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 29px; //?
    column-gap: 87px;
    width: 570px;
    padding: 64px 76px 60px 76px;

    z-index: 1;
    background: $white;
  }
}

.map__text {
  @include text-reset;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.map__adress {
  @include text-reset;
  font-family: $text-font;
  font-size: $small;
  line-height: 20px;
  color: $form-darkgrey1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.map__adress-city {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.map__image {
  display: block;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
