.map__box {
  @include container;
  padding-bottom: 28px;
}

.map__text {
  @include text-style;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.map__adress {
  @include text-style;
  font-family: $text-font;
  font-size: $small;
  line-height: 20px;
}
