.map__box {
  padding: 28px 0;
}

.map__text {

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.map__adress {
  font-family: $text-font;
  font-size: $small;
  line-height: 20px;
}
