.other-products {
  @include container;
  padding-top: 26px;

  @media (min-width: $desktop-width) {
    padding-top: 6px;
    margin-bottom: 86px;
  }
}

.other-products__title {
  @include text-reset;
  position: relative;
  display: inline-block;
  padding-bottom: 36px;

  font-size: 24px;
  font-weight: 400;
  line-height: 1;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
    font-size: 36px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    background-color: $green;
    top: 0.6em;
    z-index: -1;
  }

  &::before {
    right: calc(100% + 40px);
  }

  &::after {
    left: calc(100% + 22px); //20px

    @media (min-width: $tablet-width) {
      left: calc(100% + 34px);
    }
  }
}

.other-products__wrap {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 1fr;
    column-gap: 80px;
  }
}

.other-products__list {
  @include ul-reset;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.other-products__item {
  padding-top: 12px;
  padding-bottom: 16px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    padding: 25px 38px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    padding: 15px 0 17px 0;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    &:first-child {
      border-top: none;
    }

    &:last-child {
      border: none;
    }
  }
}

.other-products__name {
  @include text-reset;
  font-size: 16px;
  line-height: 1;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.other-products__description {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin: 0;
  }
}

.other-products__text {
  margin: 0;

  font-family: $text-font;
  font-size: $small;
  line-height: 1;
  color: $form-darkgrey2;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &--value {
      margin-left: 50px;
    }
  }
}

.other-products__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 35px;
  padding: 58px 50px 40px 50px;
  text-align: center;
  background-color: $green;
  background-image: url("../img/gift-photo-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media  (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/gift-photo-mobile@2x.png");
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 78px;
    padding: 60px 80px;
    text-align: left;
    background-image: url("../img/gift-photo-tablet.png");

      @media  (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 60px 40px 40px 40px;
    background-image: url("../img/gift-photo-desktop.png");

    @media  (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-desktop@2x.png");
    }
  }
}

.other-products__aside-icon {
  display: block;
  padding-bottom: 48px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-bottom: 0;
  }
}

.other-products__aside-text {
  @include a-reset;
  display: block;
  max-width: 164px;
  font-family: $text-font;
  font-size: 16px;
  line-height: 20px;
  color: $white;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin-right: 40px;
  }
}
