.page-footer__map {
  padding: 0;
  margin: 0;
}

.page-footer__wrap {
  @include container;
  padding: 20px;
  background-color: $lightgrey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
