.page-main__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1;

  padding-bottom: 37px;
}

.page-main__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  padding-bottom: 39px;
}
