.page-header {
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}

.page-header__container {
  @media (min-width: $tablet-width) {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 24px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-header__wrap {
  @media (max-width: $mobile-width-only) {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;

    border-bottom: 1px solid $border-grey;

    @media (min-width: $tablet-width) {
      width: auto;
    }
  }
}

.page-header__logo {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  &--hidden {
    padding-right: 7px; //PP

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.page-header__toggle {
  position: relative;
  display: block;
  padding: 0;
  padding-top: 25px; //PP
  width: 24px;
  height: 18px;
  cursor: pointer;
  border: none;

  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 1.5px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
  }
}

.page-header__nav {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-header--opened {
  .page-header__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      bottom: 0;
      right: 0;
      left: 0;
      width: 24px;
      height: 1.5px;
      background-color: $black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .page-header__nav {
    display: block;
  }
}

.page-header--nojs {
  .page-header__toggle {
    &::before,
    &::after {
      display: none;
    }
  }

  .page-header__nav {
    display: block;
  }
}
