.page-footer__map {
  padding: 0;
  margin: 0;
}

.page-footer__color-wrap {
  width: 100%;
  background-color: $lightgrey;
}

.page-footer__wrap {
  @include container;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.page-footer__logo {
  display: block;
  padding: 39px 0 32px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
