.product {
  position: relative;
  padding-top: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 0 37px 40px 37px;
    margin: 70px 0;

    background-color: $lightgrey;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    bottom: 0;
    left: -20px;
    background-color: #ebebeb;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &--more {
    text-align: center;

    &::before {
      content: "";
      position: static;
      display: block;
      margin: 0 auto;
      margin-bottom: 23px;
      width: 30px;
      height: 30px;
      background-image: url("../../img/icon__plus.svg");
      background-size: 30px 30px;

    }

    @media (min-width: $tablet-width) {
      background-color: $white;
      border: 1px solid #e5e5e5;

      &::before {
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
        margin: 50px auto;
      }
    }
  }
}

.product__wrapper {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: stretch;
  }
}

.product__wrap-img {
  width: 50%;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  &--slim {
    @media (min-width: $tablet-width) {
      margin-top: -45px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -52px;
    }
  }

  &--pro {
    @media (min-width: $tablet-width) {
      margin-top: -73px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -80px;
    }
  }
}

.product__wrap {
  @media (max-width: $mobile-width-only) {
    width: 50%;
  }
}

.product__title {
  @include text-reset;
  padding-right: 64px;
  padding-bottom: 14px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $form-darkgrey2;
  text-transform: uppercase;

  &--more {
    padding-right: 0;
    padding-bottom: 8px;
    color: #111111;
  }

  @media (min-width: $tablet-width) {
    padding-top: 31px; //Потом убрать
    padding-right: 0;
    padding-bottom: 21px;


    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &--more {
      padding: 0 40px 23px 40px;
    }
  }

  @media (min-width: $tablet-width) {
    line-height: 21px;
  }
}

.product__weight {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product__description {
  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.product__values {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product__text {
  margin: 0;
  font-family: $text-font;
  font-size: 12px;
  line-height: 16px;
  color: $form-darkgrey1;

  &--more {
    padding-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;

    &--more {
      padding: 0 20px 20px 20px;
      margin-bottom: 67px;
    }
  }
}
