.program__title {
  padding: 30px 0 30px 91px;
  margin-top: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.program__description {
  padding: 0 0 38px 20px;
  margin: 0;

  font-family: $text-font;
  font-size: $small;
  line-height: 18px;
}

.program__link {
  @include a-reset;
  padding: 0 0 0 20px;

  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}
