.programs {
  @include container;
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-bottom: 42px;
  }
}

.programs__item {
  position: relative;
  width: 100%;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;

  background-color: $lightgrey;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 72px 314px 60px 53px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 52px 58px 52px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 22px;
    background-color: $green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 86px;
      right: 62px;
      left: auto;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-repeat: no-repeat;
  }

  &--slim {
    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      padding-right: 280px;
    }

    &::after {
      width: 36px;
      height: 50px;
      top: 21px;
      left: 29px;

      background-image: url("../img/cat-slim.svg");

      @media (min-width: $tablet-width) {
        width: 140px;
        height: 192px;
        top: 75px;
        right: 92px;
        left: auto;
        background-size: 140px 192px;
      }


      @media (min-width: $desktop-width) {
        width: 70px;
        height: 97px;
        top: 41px;
        left: 67px;
        background-size: 70px 97px;
      }
    }
  }

  &--pro {
    &::after {
      width: 67px;
      height: 28px;
      top: 35px;
      left: 13px;

      background-image: url("../img/cat-pro.svg");

      @media (min-width: $tablet-width) {
        width: 268px;
        height: 112px;
        top: 135px;
        right: 28px;
        left: auto;
        background-size: 268px 112px;
      }

      @media (min-width: $desktop-width) {
        width: 134px;
        height: 56px;
        top: 67px;
        left: 33px;
        background-size: 134px 56px;
      }
    }
  }
}
