.promo {
  @include container;
  padding-bottom: 22px;
}

.promo__wrap {
  &--top {
    min-height: 302px;
    background-color: $green;
    background-image: url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    opacity: 85%;
  }
}

.promo__title {
  padding: 27px 0 25px 0;
  margin: 0;

  font-size: 36px;
  line-height: 1;
  color: $white;
}

.promo__text {
  @include text-style;
  padding-bottom: 29px;

  font-size: $small;
  line-height: 1;
  color: $white;
  text-transform: uppercase;
}
