.promo {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      right: 0;
      left: auto;
      width: 50%;
      height: 100%;
    }
  }

  &::before {
    background-image: url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &::after {
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.promo__wrap {
  @include container;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 27px 0 22px 0;

  text-align: center;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    background-image: none;
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    padding: 38px 0 0 117px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 223px 0 230px 190px;
    margin: 0 0 82px 0;
  }
}

.promo__title {
  z-index: 1;
  padding: 0 0 25px 0;
  margin: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  color: $white;

  @media (min-width: $tablet-width) {
    order: 1;
    padding-bottom: 41px;

    font-size: 60px;
    line-height: 1;
    color: $black;
  }
}

.promo__text {
  @include text-reset;
  z-index: 1;
  padding-bottom: 29px;

  font-size: $small;
  line-height: 1;
  color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    order: 2;
    padding-bottom: 49px;

    font-family: $main-font;
    font-size: 20px;
    line-height: 1;
    color: $black;
  }
}

.promo__image {
  display: block;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  z-index: 1;

  @media (min-width: $tablet-width) {
    order: 4;
    max-width: 620px;
    margin-top: -60px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 558px;
    top: 144px;
    max-width: 520px;
    margin: 0;
  }
}
