.slider__before:checked ~ .compare__images .compare__image--before,
.slider__after:checked ~ .compare__images .compare__image--after {
  width: 100%;
}

.slider__before:checked ~ .slider__images .slider__image--after,
.slider__after:checked ~ .slider__images .slider__image--before {
  width: 0;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 2px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 33px;
  }
}

.slider__label {
  @include text-reset;
  margin: 0 20px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  cursor: pointer;
  user-select: none;

  @media (min-width: $tablet-width) {
    padding: 6px 0;
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);

    &:hover {
      border-bottom-style: solid;
      color: $green;
    }

    &:active {
      border-bottom: 0;
    }
  }
}

.slider__scale {
  display: inline-flex;
  align-items: center;
  padding: 4px 6px;
  width: 85px;
  height: 14px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 4px 0;
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
  }
}

.slider__grip {
  flex-shrink: 0;
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $green;
  cursor: pointer;
  transition: margin-left 0.35s ease-out;

  @media (min-width: $tablet-width) {
    margin-left: calc(50% - 17px);
    width: 34px;
    height: 34px;
    background-image: radial-gradient($green 0, $green 4px, #ffffff 5px, #ffffff 100%);
    border: 1px solid $border-grey;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $green;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    }
  }
}

.slider__before:checked ~ .slider .slider__grip {
  margin-left: 0;
}

.slider__after:checked ~ .slider .slider__grip {
  margin-left: calc(100% - 34px);
}
