.slider {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 228px;
}

.slider__text {
  @include text-reset;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
