.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 2px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 32px;
  }
}

.slider__label {
  @include text-reset;
  margin: 0 20px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  cursor: pointer;
  user-select: none;

  @media (min-width: $tablet-width) {
    padding: 6px 0;
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);

    &:hover {
      border-bottom-style: solid;
      color: $green;
    }

    &:active {
      border-bottom: 0;
    }
  }
}

.slider__scale {
  display: inline-flex;
  align-items: center;
  padding: 4px 6px;
  width: 85px;
  height: 14px;
  border-radius: 6px;
  background-color: $white;
  border: 1px solid $lightgrey5;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 2px 0;
    width: 428px;
    height: 6px;
    background-color: $lightgrey5;
    border-color: $lightgrey5;
  }
}

.slider__grip {
  flex-shrink: 0;
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $green;
  cursor: pointer;
  transition: margin-left 0.35s ease-out;

  @media (min-width: $tablet-width) {
    margin-left: calc(50% - 17px);
    width: 34px;
    height: 34px;
    background-image: radial-gradient($green 0, $green 4px, $white 5px, $white 100%);
    border: 1px solid $border-grey;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $green;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    }
  }
}
