.socials__list {
  @include ul-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 18px 0;
  border-top: 1px solid $border-grey2;
  border-bottom: 1px solid $border-grey2;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 25px;
    border: none;
  }
}

.socials__item {
  margin: 0 18px;

  @media (min-width: $tablet-width) {
    margin: 0 12px;
  }
}

.socials__link {
  @include a-reset;
}

.socials__icon {
  color: #666666;

  &:hover {
    color: $green;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    &--vk {
      width: 30px;
      height: 22px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 28px;
      height: 33px;
      margin-top: -5px;
    }
  }
}
