.socials__list {
  @include ul-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid $link-border-grey;
  border-bottom: 1px solid $link-border-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.socials__item {
  margin: 0 15px;
}

.socials__link {
  @include a-reset;
}

.socials__icon {
  fill: #666666;

  &:hover {
    fill: $green;
  }

  &--fb {
    stroke: #666666;

    &:hover {
      stroke: $green;
    }
  }

  @media (min-width: $tablet-width) {
    &--vk {
      width: 30px;
      height: 22px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 28px;
      height: 33px;
    }
  }
}
